body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }

 
  .content-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 20px;
    max-width: 600px;
    position: relative;
    overflow: hidden;
  }

  .topic{
    font-size: 3rem;
    color: #76a713;
    text-align: center;
    
}


  .content-box h2 {
    margin-top: 0;
    color: #333;
  }


  .content-box h3 {
    margin-top: 0;
    color: #666;
  }

  
  .content-box p {
    line-height: 1.6;
    color: #555;
  }


  .content-box dl {
    margin-top: 10px;
  }

  .content-box dt {
    font-weight: bold;
  }

  .content-box dd {
    margin-left: 20px;
  }

  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

 
  .content-box {
    animation: fadeIn 0.5s ease-out;
  }


  .slider-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    background: rgba(255,255,255,0.03);
    border: 1px solid rgba(255,255,255,0.05);
    backdrop-filter: blur(11px);
    box-shadow: 0 20px 50px rgba(255,255,255,0.04);
    margin: 0rem 1.5rem;
    padding: 1rem;
    border-radius: 10px; 
}

.slider {
    display: flex;
    transition: transform 0.5s ease;  
}


.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}